body{
  height: 3000px;
}
.right{
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  right: 10px;
}